body {
  background-color: rgba(36, 2, 64, .2);
}
header {
  margin: auto;
  height: 10em;
  width: 70em;
  background-color: rgba(68, 34, 0, .8);
  border-top-right-radius: 100em;
  border-top-left-radius: 100em;
}
#mainSection {
  margin: auto;
  height: 30em;
  width: 70em;
  background-color: rgba(4, 32, 66, .2);
  border-bottom-right-radius: 10em;
  border-bottom-left-radius: 10em;
}

#pageHeading {
  text-align: center;
  position: relative;
  top: 0.4em;
  font-family: 'Poiret One', sans-serif;
  font-size: 5em;
}

.container {
  display: flex;
  flex-direction: row;
  height: 18.75em;
  width: 70em;
}

.pic {
  height: 18.75em;
  width: 18.75em;
  margin: auto;
}

#pic1, #pic2, #pic3 {
  margin-top: 2em;
  flex-shrink: 2;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5em;
  border: .1em solid rgba(4, 32, 66, .2);
  /*box-shadow: 0px 0px 10em 40px #DBA632;*/
}
